article.devotions-list-item {
    
    padding: $s12;
    border-top: 1px solid $gray-200;
    &:nth-child(1){
     border-top: none;       
    }
    @media screen and (min-width: $large) {
    padding: $s12 0;
    }

    div.content {
        display: grid;
        
        max-width: $large;
        margin: 0 auto;

        @media screen and (min-width: $large) {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: $s8;
        }
        
       
    }
    div.details {
        @media screen and (min-width: $large) {
        grid-column-start: 2;
        grid-column-end: 4;
        }
    }
    img {
        // The image is 480x270 so that it fits the 16:9 ratio of the slides
        width: 480px;
        height: 270px;
        object-fit: cover;
        margin-top: $s12;
        margin-left: auto;
        margin-right: auto;
        column-span: 1;
        order: -1;
       @media screen and (min-width: $large) {
        width: 220px;
        height: 124px;
       }
    }
    h4 {
       @include font-sans;
       text-transform: uppercase;
       color: $primary-400;
       @include font-bold;
       @include tracking-wide;
       @include text-lg;
    }
    h3 {
        @include font-sans;
        @include font-bold;
        // @include tracking-wide;
        @include text-4xl;
        color: $gray-800;
        max-width: 20ch;

        & a {
            text-decoration: none;
            color: $gray-800;
        }
    }
    p.dates {
        @include text-lg;
        @include font-sans;
        color: $primary-500;
        font-style: italic;
        margin-bottom: $s4;
    }
    a.learn-more {
        margin-top: $s4;
        @include font-sans;
        @include font-bold;
        @include tracking-wide;
        @include text-lg;
        display: flex;
        align-items: center;
        color: $primary-500;
        text-decoration: none;
        &:hover {
            color: $primary-600;
        }

        svg {
            margin-left: $s2;
            height: $s6;
            width: $s6;
            margin-bottom: 0;
            padding: 0;
        }
    }
    
}

h1.devotion-header {
    a {
        color: $gray-600;
        font-weight: 500;
        text-decoration: none;
        border-bottom: 1px dashed $gray-600;
    }
}

div.devotion {
    img.header-image {
        margin-bottom: $s6;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        margin: $s6 auto;
        text-align: center;
    }
    div.video-wrapper {
        text-align: center;
        margin-bottom: $s6;
        
        iframe {
            margin-left: auto;
            margin-right: auto;
        }
    }
    article.prose {
        blockquote {
            background-color: $primary-100;
            color: $primary-900;
            margin: $s4 $s2;
            padding: $s2;
            font-style: italic;
        }
        ul {
            list-style-type: disc;
            padding-left: $s6;
            margin-top: $s2;
            margin-bottom: $s2;
            @include font-serif;

            li {
                @include font-serif;
                margin-bottom: $s2;
            }
        }
    }
    hr {
        border-bottom: 1px solid $gray-200;
    }
    div.details {
        border-top: 1px solid $gray-200;
        border-bottom: 1px solid $gray-200;
        text-align: center;
        padding: $s2;
        margin-botttom: $s8;
    }
    figure.audio {
        margin: $s6 auto;
        text-align: center;
        audio {
            margin-top: $s2;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
