article.single-ministry {
    max-width: $large;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: $s6;

    img {
        width: 100%;
        height: auto;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    div.content {
        grid-column-start: 3;
        grid-column-end: 6;
    }
    section.body {
        grid-column-start: 1;
        grid-column-end: 6;
    }
}