div.container {
    margin: 0 auto;
    max-width: $large;
    display: grid;
    
}
article.ministry {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: $s6;
    padding: $s6 0;
    border-top: 1px solid $gray-200;

    &:first-child {
        border-top: none;
    }
    
    img {
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: center;
        width: 100%;
        height: $s64;
        object-fit: cover;
        order: 1;
    }
    div.content {
        grid-column-start: 3;
        grid-column-end: 6;
        align-self: center;
        order: 2;

        h3 {
            @include text-2xl;
            @include font-serif;
            @include font-bold;
            color: $gray-800;
            margin-bottom: 0;

        }
        p.for {
            @include text-base;
            @include font-sans;
            @include font-bold;
            text-transform: uppercase;
            color: $gray-400;
            margin-bottom: 0;
            margin-top: 0;
        }
        p.info {
            @include font-sans;
            @include text-lg;
            margin-bottom: $s4;
        }
        a.learn-more {
            @include text-base;
            @include font-sans;
            @include font-bold;
            text-transform: uppercase;
            display: flex;
            color: $primary-400;
            margin-bottom: 0;
            margin-top: 0;
            text-decoration: none;
            &:hover {
                color: $primary-800;
            }

            svg {
                margin-left: $s2;
                width: $s6;
                height: $s6;
            }
        }
    }
    &:nth-child(even){
        img {
            order: 2;
            grid-column-start: 4;
            grid-column-end: 6;
        }
        div.content {
            order: 1;
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }
}