@import "mixins/typography";

p, h1, h2, h3, h4, h5, h6, ul, li, dl {
    max-width: 75ch;
    margin-bottom: 1rem;
}
p {
    @include font-serif;
    @include text-base;
    overflow: hidden;

}

h1 {
    @include text-4xl;
    @include font-serif;
    margin-bottom: 1rem;
    font-weight: var(--text-bold);
}
h2 {
    @include text-3xl;
    @include font-serif;
    margin-bottom: 1rem;
    font-weight: var(--text-bold);
}
h3 {
    @include text-2xl;
    @include font-sans;
    margin-bottom: .75rem;
    font-weight: var(--text-bold);
}
h4 {
    @include text-xl;
    @include font-sans;
    margin-bottom: .75rem;
    font-weight: var(--text-bold);
}
h5 {
    @include text-lg;
    @include font-sans;
    margin-bottom: .75rem;
    font-weight: var(--text-bold);
}
ul, li {
    @include text-base;
    @include font-sans
}
hgroup {
    h1:first-child, h2:first-child, h3:first-child, h4:first-child {
        margin-bottom: 0;
        opacity: 1;
    }
    h1:nth-child(2), h2:nth-child(2), h3:nth-child(2), h4:nth-child(2), h5:nth-child(2) {
        opacity: .7;

    }
}
