@import "reset";
@import "typography";

.container {
    max-width: 1200px;
    width: 100%;
    display: block;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    @media screen and (min-width: 1200px) {
        padding: 0;
    }
} 