dialog.announcment {
    z-index: 100;
    background: $gray-100;
    @include rounded-md;
    padding: 0;

    div.icon {
        width: $s16;
        height: $s16;
        display: flex;
        margin: 0 auto $s4 auto;
        @include rounded-full;
        background-color: $error-100;
        color: $error-600;
        justify-content: center;
        align-items: center;
        svg {
            height: $s10;
            width: $s10;
        }
    }

    div.text {
        padding: $s6;
        margin-bottom: $s8;

        h2 {
            @include text-xl;
            @include font-sans;
            @include font-bold;
            text-transform: uppercase;
            margin-bottom: $s2;
            
            text-align: center;
        }
        p {
            @include text-lg;
            text-align: center;
            max-width: 30ch;
        }
    }
    div.action {
        background-color: $gray-200; 
        width: 100%;
        padding: $s4 $s6;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        background: $primary-600;
        color: $white;
        @include rounded;
        padding: $s2 $s6;
        @include font-sans;
        @include font-bold;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background: $primary-800;
        }
    }
}

dialog.announcment::backdrop {
    // background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
    z-index: 90;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: $gray-900;
    opacity: 0.9;
    display: flex;


}