footer {
    background-color: $gray-800;
    color: $gray-100;
    padding-bottom: $s12;
    display: block;
    hgroup {
        padding: $s16 $s6;
        text-align: center;

        h2 {
            @include text-4xl;
            margin-bottom: $s2;
            @include font-light;
            @include tracking-wider;
            text-transform: uppercase;
            color: $white;
        }
        h4 {
            @include text-xl;
            font-style: italic;
            @include font-sans;
        }
    }
    section.grid {
        padding: 0 $s6;
        display: grid;
        margin: 0 auto;
        grid-column-gap: $s8;
        grid-template-columns: 90%;
        justify-content: center;
        @include font-sans;
        @media screen and (min-width: $medium)
        {
            grid-template-columns: 45% 45%;
        }
        @media screen and (min-width: $large)
        {
            grid-template-columns: 23% 23% 23% 23%;
        }
        article {
            margin-top: $s4;
            @media screen and (min-width: $large)
        {
            margin-top: 0;
        }
        }
        h3 {
            @include font-sans;
            @include text-2xl;
            @include font-bold;
            margin-bottom: $s4;
            text-transform: uppercase;
            color: $white;
        }
        p {
            @include text-sm;
            color: $gray-300;
        }
        p, h4 {
            margin-bottom: $s2;
        }
        h4 {
            @include text-lg;
            @include font-bold;
            @include tracking-wide;
        }
        p a {
            text-decoration: none;
            color: $gray-100;
            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }
    }
    svg {
        height: $s4;
        width: $s4;
        color: $white;
        display: inline-block;
        margin-right: $s3;
    }
}