section.actions {
    display: grid;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    

    @media screen and (min-width: $medium)
    {
        grid-template-columns: 33% 33% 33%;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $s6 $s6;
        border-bottom: 1px solid $gray-200;
        @include transition;
        @media screen and (min-width: $medium)
        {
            border-bottom: none;
            border-right: 1px solid $gray-200;
            height: 18vh;
        }
        &:hover {
            background-color: $gray-100;
        }

        &:nth-last-child(1) {
            border-right: none;
            border-bottom: none;
        }
        p {
            @include text-lg;
            @include font-sans;
            color: $gray-400;
        }
        a {
            text-decoration: none;
            @include text-2xl;
            @include tracking-wide;
            text-transform: uppercase;
            color: $gray-600;
        }
    }
}