div.home_event {
    background-color: $gray-200;
    padding: $s12;
    @media screen and (min-width: $large) {
    padding: $s24 0;
    }
    div.content {
        display: grid;
        
        max-width: $large;
        margin: 0 auto;

        @media screen and (min-width: $large) {
            grid-template-columns: 1fr 1fr;
            column-gap: $s8;
        }
       
    }
    img {
        // The image is 480x270 so that it fits the 16:9 ratio of the slides
        width: 480px;
        height: 270px;
        object-fit: cover;
        margin-top: $s12;
        margin-left: auto;
        margin-right: auto;
    }
    h4 {
       @include font-sans;
       text-transform: uppercase;
       color: $primary-400;
       @include font-bold;
       @include tracking-wide;
       @include text-lg;
    }
    h3 {
        @include font-sans;
        @include font-bold;
        // @include tracking-wide;
        @include text-4xl;
        color: $gray-800;
        max-width: 20ch;
    }
    p.dates {
        @include text-lg;
        @include font-sans;
        color: $primary-500;
        font-style: italic;
        margin-bottom: $s4;
    }
    a.learn-more {
        margin-top: $s4;
        @include font-sans;
        @include font-bold;
        @include tracking-wide;
        @include text-lg;
        display: flex;
        align-items: center;
        color: $primary-500;
        text-decoration: none;
        &:hover {
            color: $primary-600;
        }

        svg {
            margin-left: $s2;
            height: $s6;
            width: $s6;
            margin-bottom: 0;
            padding: 0;
        }
    }
}