body.home {
    background: white;
    width: 100%;
    header {
        width: 100%;
        display: block;
        margin: 0 0;
        max-width: 100%;
        padding: 0;
        height: inherit;
        section.top {
            width: 100%;
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 50vh;
            background: black;
            padding: 0 $s6;
            margin: 0 auto;
            max-width: none;
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            position: relative;
            @media screen and (min-width: $medium)
            {
                height: 80vh;
            min-height: 80vh;
            }

            h1 {
            color: white;
            text-align: center;
            margin: 0;
            @include text-4xl;
            max-width: 25ch;
            line-height: 1.5;
            @media screen and (min-width: $medium)
            {
                @include text-6xl;
            }

            }
        }
    }
    nav.main-navigation {
       
        color: white;
      
        a {
            color: white;
        
        }
        button.mobile-toggle {
            color: white;
        }
    }
}